</div> <!-- /.container -->
<hr />
<footer>

	<div class="container">
			<div class="span3">
			  <img src="/img/builtwithdart-logo.png"><br />
			  Feel free to use this logo on your own website.<br/><br/>
			  BuiltWithDart is created and maintained by <a href="https://plus.google.com/117571249567635877826">+Chris Buckett</a> and 
			  is not affiliated with Google.  Please visit <a href="http://www.dartlang.org">www.dartlang.org</a> for the official Dart website.
			</div>
			<div class="span3" align="center">
			Bought to you by <a href="http://blog.dartwatch.com">Dartwatch</a><br />, watching Google Dart.<br>
			<img src="/img/dartwatchlogo.png"/>
			
			</div>
			<div class="span3">
			<h4>Resources</h4>
			<ul>
			  <li><a href="http://www.dartlang.org">www.dartlang.org</a></li>
			</ul>
			</div>
	</div>
</footer>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
</body></html>